/* index.css */
body {
    background-image: url('../images/profile.JPG'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.about {
    text-align: center;
    margin-top: 50px;
}

.education {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education ul {
    list-style-type: none;
    padding: 0;
}

.education li {
    margin-bottom: 15px;
}

.skills {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skills p {
    margin-bottom: 10px;
}

.skills strong {
    display: block;
    margin-bottom: 5px;
}
